header{
    border-radius: 10px;
    background: #12d4f1;
    color: black;
    text-align: center;
}

nav{
    border-radius: 5px;
    min-height: 45px;
    background: #746670;
    margin-bottom: 10px;
}

nav ul{
    padding-top: 10px;
    list-style: none;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

section{
padding: 5px;
border-radius: 10px;
background: #7a7a7a;
}

article{
    background: #a6a6a6;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

aside{
    background: #92a0c4;
    border-radius: 10px;
}